@using Registration.Model.Hotels
@model IEnumerable<BookedRoom>
@{
    ViewData["Title"] = "List";
}

<h1>Список занятых дат</h1> 
@* ////////////////////////////////////////////////////////////////////////////////// *@
@* Переделать этот список на вывод списка свободных дат с ссылками на их бронирование *@
@* ////////////////////////////////////////////////////////////////////////////////// *@

@if (Model.Count()>0)
{
    <table>
        <tr>
            <th>Id</th>
            <th>Дата</th>
            <th>Имя гостя</th>
            <th>Отчество гостя</th>
            <th>Фамилия гостя</th>
            <th>Номер телефона</th>
            <th>Количество гостей</th>
            <th>Специальные пожелания</th>
        </tr>

        @foreach (BookedRoom booked in Model)
        {
            <tr>
                <td>@booked.Id</td>
                <td>@booked.dataBooked</td>
                <td>@booked.GuestFirstName</td>
                <td>@booked.GuestSecondName</td>
                <td>@booked.GuestLastName</td>
                <td>@booked.GuestPhone</td>
                <td>@booked.NumberGuest</td>
                <td>@booked.SpecialRequests</td>
                <td><a asp-controller="Booked" asp-action="Correct" asp-route-id="@booked.Id">Изменить</a></td>
                <td><a asp-controller="Booked" asp-action="Delete" asp-route-id="@booked.Id">Удалить</a></td>
            </tr>
        }
    </table>
}
else
{
    <p>
        Отсутствуют бронирования комнаты в базе
    </p>
}
<a asp-route-roomId="@ViewBag.roomId" asp-controller="Booked" asp-action="Create">Добавить бронь</a>


