@using Registration.Model.Hotels
@model IEnumerable<Hotel>
@{
    ViewData["Title"] = "List";
}

<h1>Список отелей</h1>
@if (Model!= null)
{
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Location</th>
        </tr>
        @foreach (Hotel hotel in Model)
        {
            <tr>
                <td>
                    @hotel.Id
                </td>
                <td>
                    @hotel.Name
                </td>
                <td>
                    @hotel.Location
                </td>
                <td>
                    <a asp-controller="Hotel" asp-action="Delete" asp-route-id="@hotel.Id">Удалить отель</a>
                </td>
                <td>
                    <a asp-controller="Hotel" asp-action="Correct" asp-route-id="@hotel.Id">Изменить отель</a>
                </td>
                <td>
                    <a>добавить комнату</a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>В базе данных отсутствуют таблицы</p>
}
<a asp-controller="Hotel" asp-action="Create">Добавить отель</a>

