@using Registration.Model.Hotels
@model IEnumerable<Room>

@{
    ViewData["Title"] = "ListRooms";
}

<h1>Список комнат</h1>

@if (Model != null)
{
    <table> 
        <tr>
            <th>Номер комнаты</th>
            <th>Количество гостей</th>
            <th>Площадь</th>
        </tr>
    
    @foreach (var room in Model)
    {
        <tr>
            <td>@room.Id</td>
            <td>@room.MaximumGuests</td>
            <td>@room.Square</td>
            <td>
                <a asp-controller="Hotel" asp-action="CorrectRoom" asp-route-id="@room.Id">Редактировать</a>
                <a asp-controller="Hotel" asp-action="DeleteRoom" asp-route-id="@room.Id">Удалить</a>
            </td>
        </tr> 
    }
    </table>
}
else
{
    <p>
        Отсутствуют комнаты в базе
    </p>
}

<a asp-controller="Hotel" asp-action="CreateRoom">Добавить комнату</a>

