@using Registration.Model.Hotels
@model IEnumerable<Room>

@{
    ViewData["Title"] = "List";
}

<h1>Список всех комнат</h1>

@if (Model != null)
{
    <table>
        <tr>
            <th>Номер комнаты</th>
            <th>Количество гостей</th>
            <th>Площадь</th>
        </tr>

        @foreach (var room in Model)
        {
            <tr>
                <td>@room.Id</td>
                <td>@room.MaximumGuests</td>
                <td>@room.Square</td>
                <td>
                    <a asp-controller="Booked" asp-action="List" asp-route-roomId="@room.Id" asp-route-hotelId="@ViewBag.hotelId">даты</a>
                    <a asp-controller="Room" asp-action="Correct" asp-route-id="@room.Id">Изменить</a>
                    <a asp-controller="Room" asp-action="Delete" asp-route-id="@room.Id">Удалить</a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>
        Отсутствуют комнаты в базе
    </p>
}
<a asp-route-hotelId="@ViewBag.hotelId" asp-controller="Room" asp-action="Create">Добавить комнату</a>
